#web-app{
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

/*ANCHOR -  aside*/

.box{
    height: 100%;
}

.aside{
    width: 200px;
    height: calc(100vh - 100px);
    background-color: black;
    color: gray;
    font-size: 0.8em;
    position: relative;
}

#logo{
    margin-top: 1em;
    width: 80%;
}

.aside * :not(hr, img){
    padding: 0.2em;
    font-weight: 600;
}

.aside * :not( hr, h4):hover{
    color: white;
}

#as-first-list li:hover{
    border-left: 3px solid greenyellow;
}

.aside ul li img,
.aside div > div img{
    width: 15%;
}

.aside i{
    font-size: 3em;
}

.overflow{
    max-height: calc(100vh/2 - 100px);
    overflow: auto;
}

.end-content{
    position: absolute;
    bottom: 0;
    left: 10px;
}

.end-content hr{
    width: 90%;
    background-color: gray;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}



.main{
    background-color: #141922;
    width: 100%;
}

.footer{
    height: 100px;
    background-color: #282828;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.left-footer{
    flex-basis: calc(100% / 3);
    text-align: left;
    color: grey;
    border: 1px solid red;
    aspect-ratio: 1;
}


.left-footer > div:nth-child(2){
    font-size: 0.8em;
}

.left-footer img{
    width: 5vw;
    aspect-ratio: 1;
}

.left-footer div i{
    font-size: 1.5vw;
}

.mid-footer{
    border: 1px solid green;
    flex-basis: 100%;
    color: white;
    gap: 1em;
    font-size: 1vw;
    aspect-ratio: 1;
}

.icons{
    width: 30%;
}

.traccia{
    width: 80%;
}

input[type=range] {
    /* Colore del range */
    background-color: #bbb;
    
    /* Dimensioni e stile del range */
    width: 200px;
    height: 1px;
    border-radius: 5px;
    border: none;
    
    /* Stile del thumb */
    appearance: none;
    background-color: white;
    width: 40vw;
    height: 1vh;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
    cursor: pointer;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    /* Gradiente del range */
    background: grey;
    border-radius: 5px;
  }
  
.right-footer{
    border: 1px solid blueviolet;
    flex-basis: calc(100% /3);
    color: white;
}

.icons-r{
    margin: 1em;
    font-size: 1vw;
}

.right-footer hr{
    width: 30%;
}