#web-app{
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

/*ANCHOR -  aside*/

.box{
    height: 100%;
}

.aside-mobile{
    width: 50px;
    height: calc(100vh - 80px);
    background-color: black;
    font-size: 0.8em;
    z-index: 2;
    display: none;
}

.aside-mobile img{
    height: 25px;
}

.aside{
    width: 200px;
    height: calc(100vh - 80px);
    background-color: black;
    color: gray;
    font-size: 10px;
    position: relative;
    z-index: 2;
    overflow: auto;
}

#logo{
    margin-top: 1em;
    width: 80%;
}

.aside * :not(hr, img){
    padding: 0.2em;
    font-weight: 600;
}

.aside * :not( hr, h4):hover{
    color: white;
}

#as-first-list li:hover{
    border-left: 3px solid greenyellow;
}

.aside ul li img,
.aside div > div img{
    width: 15%;
}

.aside i{
    font-size: 3em;
}

.overflow{
    max-height: calc(100vh/2 - 100px);
    overflow: auto;
}

.end-content{
    bottom: 0;
    left: 10px;
}

.end-content hr{
    width: 90%;
    background-color: gray;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.main{
    background-color: #141922;
    width: calc(100% - 200px);
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.fix-head-main{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
}

#btn{
    font-size: 10px;
    padding: 10px 35px;
    border: 1px solid white;
    color: white;
    border-radius: 30px;
    position: absolute;
    right: 25px;
    top: 10px;
}

.scale:hover{
    animation: all 2s ease-in linear;
    transform: scale(1.1);
}

.main-list{
    font-size: 10px;
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main ul{
    text-align: center;
    flex-wrap: wrap;
    width: 80%;   
}

.main-list ul li{
    flex-basis: calc(100% / 6);
}

.main-list ul li a{
    color: gray;
}

.main-list ul a:hover{
    color: white;
    border-bottom: 1px solid greenyellow;

}

.main-content{
    width: 95%;
    padding: 1em;
    margin: 1em;
}

.cont-card{
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
}

.card{
    flex-basis: calc(90% / 6);
    text-align: center;
    justify-content: space-between;
}

.card .play{
    position: relative;
}

.card .play::after{
    content: '\f144';
    font-family: "Font Awesome 6 Free"; 
    position: absolute;
    color: white;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.card .play:hover img{
    opacity: 0.5;
    cursor: pointer;
}

.card .play:hover::after{
    opacity: 1;
    cursor: pointer;
}

.circle{
    border-radius: 50%;
}

.footer{
    height: 80px;
    background-color: #282828;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.footer i:hover{
    color: white;
}

.left-footer{
    width: 30%;
    height: 100%;
    text-align: left;
    color: grey;
}

.left-footer div div:first-child{
    height: 60px;
    width: 60px;
}

.left-footer div i{
    font-size: 100%;
}

.mid-footer{
    width: 40%;
    height: 100%;
    color: white;
    gap: 1em;
    font-size: 13px;
}

.icons{
    margin: 0 auto;
    width: 80%;
    color: gray;
    font-size: 20px;
}

.traccia{
    width: 80%;
}

#barra{
    height: 2px;
    width: 80%;
    background-color: gray;
}

#sub-barra{
    height: 1px;
    width: 20%;
    background-color: aliceblue;
}

.right-footer{
    width: 30%;
    height: 100%;
    color: white;
}

.icons-r{
    margin: 1em;
    font-size: 13px;
}

.right-footer hr{
    width: 30%;
}